{
  "site_title": "Wie wint de #twitterquiz?",
  "site_description": "Wie zal volgens jou de #twitterquiz winnen? Stem nu!",
  "site_url": "https://twitterquiz.tmdpw.eu",
  "timezone": "Europe/Brussels",
  "admins": [
    166928221
  ],
  "twitter": {
    "consumer_key": "...",
    "consumer_secret": "..."
  },
  "options": [{
    "name": "De late inschrijvers",
    "members": ["ElleEase", "boyand1", "jerupt", "Nilshierhe", "dekevain"]
  }, {
    "name": "Een Lekker vlezeke",
    "members": ["Lisa_agua", "HVaerendonck", "ntone"]
  }, {
    "name": "Vroege Vlucht",
    "members": ["opportunitiesbe", "nonkelsam", "mdevrieze", "maartendegendt", "dropje"]
  }, {
    "name": "Zwakke Geslacht",
    "members": ["Slingers13", "hetjoch", "Nonunsenses", "GlennDubbelN"]
  }, {
    "name": "Belle en de Beesten",
    "members": ["verbeke_t", "VevaDan", "wvanparys", "RobbySallaets", "dewlanna"]
  }, {
    "name": "Hippe Spitsvondige naam",
    "members": ["AlessandraBln", "yavapu", "PandaLimpens", "teaforjulie", "RutgerGM"]
  }, {
    "name": "Team Foefborstel",
    "members": ["Couckedoos", "jsprdpw", "spinocle", "EgonTemm"]
  }, {
    "name": "Blind Getrouwd",
    "members": ["didbruyn", "krisrackham", "mmmieke_be"]
  }, {
    "name": "Lomp = vis",
    "members": ["Polypieter", "herr_strauf", "iejan_v", "Lauraverbieren", "pieter_haeck"]
  }, {
    "name": "Team Smartphone",
    "members": ["Tinkerbellxx12", "IlRedeimondani", "Ushi_Lin", "hannescool", "survivalitis"]
  }, {
    "name": "Team Occupy",
    "members": ["ECardinael", "HannahEeckhout", "_kleingeelvisje", "enjoytheflames", "LeilaVDM"]
  }, {
    "name": "Iedereen Single",
    "members": ["inflorescentie", "Sari2_0", "AtheistHoly", "MrDarkley", "rodcordi"]
  }, {
    "name": "Het Quizteam Mega Toby",
    "members": ["RSchraey", "mbaeten", "pauleyben", "swerbrou", "inebenzine"]
  }, {
    "name": "De Politie uw vriend",
    "members": ["Nevelinge", "JHerregods", "antonvoloshin"]
  }, {
    "name": "Cenosillicaphobia",
    "members": ["Zwartgallig_", "janvanasscheB", "Birthdaygirl81", "Tamara_vdm", "SachaAerts"]
  }, {
    "name": "Al wie boven ons staat",
    "members": ["79barbara79", "FrankVanLaeken", "tremans", "LucVandingenen"]
  }, {
    "name": "Djenghis Kahn = Mongool",
    "members": ["Wit_Konijn", "leenvdmoere", "strikeplank", "DiamondCityLove", "daveydegrande"]
  }, {
    "name": "Boobs & Beards",
    "members": ["MrtnDb", "Omaya_", "Liesjevdw", "Dirt_sA", "olvr_vrmr"]
  }, {
    "name": "Team Volkoren",
    "members": ["__Ohan_", "tinemoniek", "haploc", "kasjmier", "chateaubrys"]
  }, {
    "name": "De maskers vallen af",
    "members": ["MDevoldere", "tmdpw", "bollegijz", "ruben_vanlent", "peterdedecker"]
  }]
}
