{
  "site_title": "Wie wint de #twitterquiz?",
  "site_description": "Wie zal volgens jou de #twitterquiz winnen? Stem nu!",
  "site_url": "https://twitterquiz.tmdpw.eu",
  "timezone": "Europe/Brussels",
  "admins": [
    166928221
  ],
  "twitter": {
    "consumer_key": "...",
    "consumer_secret": "..."
  },
  "options": [
    {
      "name": "Unic",
      "members": ["Goedles", "lamazone", "dbuntinx", "kristofnizet"]
    }, {
      "name": "Ik ben blij dat gij in mijn team zit",
      "members": ["gilslaura", "nielshierhe", "jerupt", "EmilyMichiels"]
    }, {
      "name": "Team Dik & Lelijk",
      "members": ["_katrijn", "Julieedv", "DonDams", "zegmaarbas"]
    }, {
      "name": "Kwisverstand",
      "members": ["eenonmens", "allocestqui", "tisnicks", "ElleEase"]
    }, {
      "name": "Whiskypedia",
      "members": ["boyand1", "MrDarkley", "Twezus_", "farahfouffriau"]
    }, {
      "name": "Te Boer 2.0",
      "members": ["Slingers13", "Kreejs", "hetjoch", "666shades"]
    }, {
      "name": "Les Quizerables",
      "members": ["Anneke2374", "TVananderoye", "phildebruin", "lvandingenen"]
    }, {
      "name": "Niet in mijn Peutertuin",
      "members": ["ruben_vanlent", "tmdpw", "pieterdesmet", "bollegijz"]
    }, {
      "name": "Grattis pa födelsedagen",
      "members": ["kasjmier", "gunterderwa", "tuesadorable", "CDIMI"]
    }, {
      "name": "Drie wijntjes en een pintje",
      "members": ["MrtnDb", "KatVanMul", "WAHMama", "Tamara_vdm"]
    }, {
      "name": "De Winnaars",
      "members": ["sauerbabs", "IkBenLauren", "herr_strauf", "IlRedeimondani"]
    }, {
      "name": "Yin & Yang",
      "members": ["Liesjevdw", "Sissi_kaizerin", "olvr_vrmr"]
    }, {
      "name": "Djenghis Kahn is ne Mongool",
      "members": ["DiamondCityLove", "dweezzill", "Wit_Konijn", "strikeplank"]
    }, {
      "name": "Team Vetoranen",
      "members": ["MaartenvanMeer", "matthieuvs", "katia_a"]
    }, {
      "name": "Drie Man en een Paardenkop",
      "members": ["79barbara79", "slijmpistool", "campspeter", "FrankVanLaeken"]
    }, {
      "name": "Poor, stupid & ugly",
      "members": ["mamiracoli", "dirt_sa", "wanness", "SaschaAerts"]
    }, {
      "name": "Het Donkere Verleden van Jan Jambon",
      "members": ["Nevelinge", "antonvoloshin", "JHerregods", "fakeplasticmax"]
    }, {
      "name": "Til hamingju med afmaelid",
      "members": ["haploc", "karamelleke", "V4L3R135M37", "GreetSmekens"]
    }, {
      "name": "Pandapower",
      "members": ["miss_punt", "mieghie666", "wim_smits", "jeroomdm"]
    }, {
      "name": "In ons hart, dààr zit Kim Jong-Un",
      "members": ["mbaeten", "pauleyben", "RSchraey", "_evelienc"]
    }, {
      "name": "Den elfden sandwich (reserve)",
      "members": ["wvanparys", "Sari2_0", "AtheistHoly", "rodcordi"]
    }, {
      "name": "Los Incompletos (reserve)",
      "members": ["deadeyes", "Toespijs", "mathyvanvoorden", "johvdk"]
    }, {
      "name": "Team Occupy (reserve)",
      "members": ["LisaLeysen", "swerbrou", "_kleingeelvisje", "HannahEeckhout"]
    }
 ]
}