<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ site_title }}</title>
<meta name="description" content="{{ site_description }}">
<meta name="viewport" content="width=480,initial-scale=1.0">
<link rel="stylesheet" href="{{ site_url }}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site_url }}/css/main.css">
</head>
<body>

<div class="container">

<h1>Wie wint de <a href="https://twitter.com/search?q=%23twitterquiz"
target="_blank">#twitterquiz</a>?</h1>

<div id="ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
style="display:inline-block;width:468px;height:60px"
data-ad-client="ca-pub-9688800874988974"
data-ad-slot="1577979021"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

{% block content %}{% endblock %}

</div>

<a href="https://github.com/timdp/twitterquiz-poll" id="fork-me"><img
src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
alt="Fork me on GitHub"></a>

<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-86479-9']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
