{% extends "_base.html" %}

{% block content %}

<p>Hallo, <strong>@{{ screen_name }}</strong>.
Selecteer het team dat volgens jou op 21 november 2016
de vierde #twitterquiz zal winnen en bevestig je keuze.</p>

<form method="post">

<div id="options">
{% for n, v in options %}
<div>
<label>
<input type="radio" name="vote" value="{{ n + 1 }}">
<strong class="name">{{ v.name }}</strong>
<span class="members">
{% for m in v.members %}
<a href="https://twitter.com/{{ m }}" target="_blank">@{{ m }}</a>
{% endfor %}
</span>
</label>
</div>
{% endfor %}
</div>

<div class="form-actions">
<input type="submit" value="Die gaan dat hier winnen!"
class="btn-large btn-success">
</div>

</form>

{% endblock %}
